.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background: center no-repeat url("../../../images/kaufman-triangle.svg");
  background-size: contain;
  z-index: 0;
}
